.AppCSS {
  color: #6366f1;
  text-align: center;
}


/* HomePage.css */

.ProfileCSS{
  color: white;
   text-align: center;
}

.roundedBox {
  background-color: #01050b; 
  border-radius: 16px;       
  padding: 24px;             
  margin: 20px auto;         
  width: 300px;              
  border: 1px solid #6366f1;; 
  color: #8b8b92;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.ButtonAlign{
  display: flex;             
  flex-direction: row;       
  
  justify-content: center;
}

.roundedButtons {
  background-color: #01050b; 
  border-radius: 16px;       
  padding: 2%;             
  margin: 2vw;       
  width: 10vw;              
  border: 1px solid #6366f1;
  color: #8b8b92;
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
  cursor: pointer;
  font-size: small;
}